<HTML>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <BODY>  
            <div>
                <img src="http://images.planb.com.mx/images/2019/10/04/youmagazine.png" align = center height="100"/>
            </div>
            <div>
                <P>Hola, </P>
                <P>Se acaba de realizar una cotización con los siguientes datos:</P>
                <P>Cantida de publicaciones: {{publicaciones}}</P>
                <P>Cantida de usuarios: {{usuarios}}</P>
                <P>Con las tecnologias: {{tecnologias}}</P>
                <P>Con funciones extra: {{funciones}}</P>
                <P>Con forma de pago: {{forma}}</P>
                <P>Con codigo de descuento: {{descuento}}</P>
                <P>Cantida de costo: {{costo}}</P>
                <P>Fecha de creacion: {{creacion}}</P>
            </div>
    </BODY>
</HTML> 