<HTML>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">

<BODY>
    <div>
        <img src="http://images.planb.com.mx/images/2019/10/04/youmagazine.png" aling=center height="100" />
    </div>
    <div>
        <P>Hola, </P>
        <P>Se acaba de realizar una cotización con los siguientes datos:</P>
        <P>{{publicaciones}} publicaciones al mes,</P>
        <P>Con soporte para {{usuarios}} usuarios,</P>
        <P>Que se pueda utilizar en {{tecnologias}},</P>
        <P>Con funciones extra {{funciones}},</P>
        <P>La forma de pago seria {{forma}}</P>
        <P>Con código de descuento {{descuento}}</P>
        <br>
        <P>Para contactar a la persona se puede relizar </P>
        <P>Por correo a {{email}} </P>
        <P>Por telefono a {{telefono}}</P>
    </div>
</BODY>

</HTML>