<HTML>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">

<HEAD>
    <style>
        .button {
            background: linear-gradient(to right, #2b55ee, #35ebce);
            color: white;
            padding: 5px 11px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
        }
        
        .button:hover {
            background: linear-gradient(to right, #35ebce, #2b55ee);
        }
    </style>
</HEAD>

<BODY>
    <div>
        <img src="http://images.planb.com.mx/images/2019/10/04/youmagazine.png" aling=center height="100" />
    </div>
    <div>
        <P>Hola, {{current_user}}</P>
        <P>Hemos recibido una solicitud para reestablecer la contraseña.</P>
        <P>Si no has sido tú quien envio la solicitud, ignora este mensaje.</P>
        <P>El token para tu recuperacion de contrase&ntilde;a es: {{token}}</P>
        <P>En caso contrario puedes reestablecerla presionando el siguiente botón</P>
    </div>
    <br>
    <form method="get" action="http://beertual.pythonanywhere.com//password_reset/confirm/">
        <button class="button" type="submit">Haz click para recuperar tú contrase&ntilde;a</button>
    </form>
    <br>
    <div>
        <P>Gracias,</P>
        <P>El equipo de YouMagazine </P>
    </div>
</BODY>

</HTML>